* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* cores */
  font-size: 62.5%;

  --brand-color: #ef5f4c;
  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: #ffffff8f;
  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;

  /* fontes */
  --font-family: "Poppins", sans-serif;
  --text-lg: bold 2.4rem/1.25 var(--font-family);
  --text: 1.6rem/1.5 var(--font-family);
  --text-md: 1.4rem/1.7 var(--font-family);
  --text-rodape: 1.4rem/1.5 var(--font-family);
  --text-sm: 1.2rem/1.7 var(--font-family);
}

body {
  font: var(--text);
  color: var(--text-color-secondary);
  background-color: var(--background-color);
}

.bg-surface-color {
  background-color: var(--surface-color);
}

.container {
  padding-inline: 3.2rem;
  max-width: 128rem;
  margin-inline: auto;
}

ul {
  list-style: none;
}

a {
  color: var(--text-color-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

@media (width >= 36em) {
  :root {
    --text-lg: bold 3.2rem/1.25 var(--font-family);
  }
}